@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap');

* {
    box-sizing: border-box;
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
}

body{
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0%;
}

header{
    height: 100vh;
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    display: flex;
}

.column1{
    width: 100%;
    /* float: left; */
}

/* .flex{
    display: flex;
    align-items: center;
    justify-content: center;
} */

.row{
    display: flex;
}

.row:after {
    content: "";
    clear: both;
}

.column2{
    width: 50%;
    float: left;
    text-align: center;
    padding: 5% 5% 5% 5%;
    background-color: rgb(34, 139, 34);
}

.column4{
    width: 25%;
    float: left;
    background-color: rgb(34, 139, 34);
    top: 0%;
}

p{
    font-size: 1rem;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;
}

h3{
    font-size: 1.3rem;
}

h4{
    font-size: 1.2rem;
}

h5{
    font-size: 1.15rem;
}

h6{
    font-size: 1.05rem;
}

#title{
    font-size: 298px;
}

img {
    height: 300px;
    width: 400px;
    border: 3px solid rgb(34, 139, 34);
    border-radius: 12px;
}

#news{
    text-align: center;
}

.division{ 
    border: 9px solid gold;
    /* border: 9px;
    border-style: solid;
    border-color: rgb(34, 139, 34); */
    border-radius: 12px;
    margin-top: 1%;
    background-color: white;
}

a{
    text-decoration-color: rgb(34, 139, 34);
    color: black;
}

#mapa{
    height: 250px;
    width: 500px;
    text-align: right;
}

footer{
    text-align: right;
}

/*
.column3{
    width: 33.33%;
    float: left;
}


.column5{
    width: 20%;
    float: left;
}

.column6{
    width: 16.66%;
    float: left;
}

.column-75{
    width: 75%;
    float: left;
}

.column-25{
    width: 25%;
    float: left;
} */




/*----------------------------------------------------------------------------------------*/

@media only screen and (max-width: 600px) {
    
    #title{
        font-size: 198px;
    }

    header{
        height: 50vh;
        background-image: url("../img/fondo.jpg");
        background-size: cover;
        width: 130%;
        background-position: center;
        background-attachment: fixed;
        display: flex;
        text-align: center;
    }


    .column4 {
        width: 100%;
        float: left;
        position: relative;
    }

    .column2 {
        width: 100%;
        float: left;
        background-color: white;
        margin: 0px;
    }

    #news {
        width: 100%;
        float: left;
        text-align: center;
        position: relative;
        margin: 0px;
    }

    #mapa{
        height: 100px;
        width: 200px;
        text-align: right;
    }
    
    footer{
        text-align: right;
    }

    img {
        height: 100px;
        width: 200px;
        border: 3px solid rgb(34, 139, 34);
        border-radius: 12px;
    }
}


